.contenbotton{
    display: flex;
    justify-content:space-around;
    align-items: stretch;
    /*margin:0 50px 10px 40px;   */
    margin-bottom: 10px;
}

.btntamal{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    background-color: #AED6F1 ;
    border: none;


}