.contencompra{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: stretch;
    margin-bottom: 10px;
}

.infoAtole{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: stretch;
}