
.card{
width: auto;
height: auto;
max-height: 300px;
padding: auto;
text-align: center;
background: #242625;
border-radius: 10px;
box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}

.content{
    width:auto;
    height: auto;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
   box-shadow:  16px 16px 44px #0a0a0a, 
             -16px -16px 44px #282a28;
    transition: 0.3s all ease-in-out;
    &:hover{
      margin-top:-10px;
    }

}